Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select  **Restart** and **Clear All Outputs**, then select **Run All**).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "Mariela Martinez"
COLLABORATORS = "Tailai"

---

## **Problem Set 5** Execution Control 2

This is a problem set. You can work on it with the help of your classmates, Google, or ask me any questions you would like.

I encourage discussion during these problem sets.

In [2]:
import numpy as np

1-2.The factorial of an integer is the product of the all the integers starting from the integer going down to one.  

So, for example, in math we usually write 

$ n!  = n \times (n-1) \times (n-2)....2 \times 1 $

For example, 5! = 5 * 4 * 3 * 2 * 1 = 120 
Of course in any real program, we would use `np.prod` or `math.factorial` to compute the factorial of an integer n. 

But, we are here to suffer and learn. So you cannot used any in-built factorial function like `math.factorial`.  You are also not allowed to use `np.prod`

You can solve this problem using a `for` loop or using a `while` loop.  In this exercise you will do it both ways.

1.  Write a function called **forfact** that take an input argument **n** and returns the factorial of n.  I want you to solve it using a **for** loop.

In [3]:
# YOUR CODE HERE
import numpy as np

def forfact(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
    
print(f"For n = {n}, factorial is {forfact(n)}")

NameError: name 'n' is not defined

In [4]:
n = 9
assert forfact(n) == np.prod(np.arange(1,n+1))

2. Write a function called **whilefact** that takes the input argument **n** and returns the factorial of n. I want you to solve it using a **while** loop

In [5]:
# YOUR CODE HERE
def whilefact(n):
    result = 1
    i = 1
    while i <= n: 
        result *= i
        i += 1
    return result

In [6]:
n = 10
assert whilefact(n) == np.prod(np.arange(1,n+1))

3. There are a number of approximations to the number $\pi$ that have been developed over the years.   
Leibniz's formula for approximating $\pi$ is

$$ \pi = 4 - 4/3 + 4/5 - 4/7 + 4/9 - 4/11 + 4/13 ....   $$

$$ \pi = \sum_{n=0}^{\infty}{(-1)^n\frac{4}{2n+1}} $$

Note two things to pay attention to about this sum. 
* The first term is equivalent to 4/1.  So, we are counting 1,3,5,7,9,11.... for the denominator.  That is where the 2*n+1 comes from 
* We are alternating between adding and subtracting numbers.  That is where the $(-1)^n$ comes from.    

Write a function **leibniz** sums the terms in Leibniz's formula for $\pi$ until the magnitude of the *change* in the sum is less than a user specified value **tol**. The function should return the approximation to $\pi$ and the number of terms (in that order)

In [7]:
# YOUR CODE HERE
def leibniz(tol):
    pi_est = 0.0
    n = 0
    while True:
        term = 4 * ((-1) ** n) / (2 * n + 1) 
        if abs(term) < tol:        
            break
        pi_est += term
        n += 1
    return pi_est, n

print(f"n = {n}, pi ≈ {pi}")

NameError: name 'pi' is not defined

In [8]:
tol = 0.01
pi,n = leibniz(tol)
assert n == 200 
assert np.isclose(pi,np.pi, rtol = 0.005)

4. The `input` function in python allows for keyboard input. 

For example:
         
         d = input('test input:')
         
* will prompt for an input with the text 'test input'
* this argument is called the **prompt** and will appear in a box below this cell.
* After you type your response (and Enter) the keyboard input in stored in a variable **d** 
* By default the variable is of type `str`. 

Write a function **get_response** which takes two input arguments
* string **prompt**
* list or array **validresponses**

The function **get_response** uses the function `input` and prompts the user for a variable **response** 
with the prompt given by **prompt**

If the keyboard input is one of the responses in **validresponses**, the function should print **response** and return the variable **response**  

If the keyboard input is not in the list or array **validresponses** the function should print the string, 

'Invalid Response, Try Again' 

and then prompt the subject for a response again. 

The function should keep prompting the user until the user gives a response in the list or array **validresponses**

*Hint 1*: First test how input works and examine the variables it stores.  Just type this simple example in the box below and run it:

    x = input('How does this look?:')
    print(x)

The input box appears below the code cell.  Find it, and enter different types of variables there and see that it always returns a string even if you enter a number.  

*Hint 2*: You need to keep prompting them until they give you a valid input.  This suggests a `while` statement to me, where you check if their input is valid and only stop asking for a response if they give you a valid input. 

*Hint 3*: To test if their keyboard input, stored in the variables **response** is one of the values in **validresponses** you can use list or array methods with the following logical statements. 

array:             
* np.any(validresponses == response)

list:              
* response in validresponses

In [9]:
# YOUR CODE HERE
import numpy as np

def get_response(prompt, validresponses):
    while True:
        response = input(prompt)
        if isinstance(validresponses, np.ndarray):
            valid = np.any(validresponses == response)
        else:
            valid = response in validresponses
        
        if valid:
            print(response)
            return response
        else:
            print('Invalid Response, Try Again')

def test_get_response():
    inputs = iter(["maybe", "n"])
    def mock_input(prompt):
        print(prompt, end='')
        return next(inputs) 

    import builtins
    real_input = builtins.input
    builtins.input = mock_input

    finally:
        builtins.input = real_input 

test_get_response()

SyntaxError: invalid syntax (1426823496.py, line 28)

In [10]:
prompt = "Ready to code an experiment?"
validresponses = ['y','n']
response = get_response(prompt,validresponses)

NameError: name 'get_response' is not defined

In [11]:
import pandas as pd

# Load the CSV file from the URL
url = 'https://gist.githubusercontent.com/mattkram/9684863843254402942dfede27af2cb7/raw/2590dd8185b833aacf247c0595edbb07a025a6d7/Smithsonian_VOTW_Holocene_Volcanoes.csv'
volcanoes_df = pd.read_csv(url)

# Display the first 10 rows
print("First 10 rows of the dataset:")
volcanoes_df.head(10)

First 10 rows of the dataset:

,FID,Volcano_Number,Volcano_Name,Primary_Volcano_Type,Last_Eruption_Year,Country,Geological_Summary,Region,Subregion,Latitude,Longitude,Elevation,Tectonic_Setting,Geologic_Epoch,Evidence_Category,Primary_Photo_Link,Primary_Photo_Caption,Primary_Photo_Credit,Major_Rock_Type,GeoLocation
0,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,210010,West Eifel Volcanic Field,Volcanic field,-8300.0,Germany,The West Eifel Volcanic Field of western Germa...,Mediterranean and Western Asia,Western Europe,50.170,6.850,600,Rift zone / Continental crust (> 25 km),Holocene,Eruption Dated,https://volcano.si.edu/gallery/photos/GVP-0150...,The lake-filled Weinfelder maar is one of abou...,"Photo by Richard Waitt, 1990 (U.S. Geological ...",Foidite,POINT (50.17 6.85)
1,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,210020,Chaine des Puys,Lava dome(s),-4040.0,France,"The Chaîne des Puys, prominent in the history ...",Mediterranean and Western Asia,Western Europe,45.775,2.970,1464,Rift zone / Continental crust (> 25 km),Holocene,Eruption Dated,https://volcano.si.edu/gallery/photos/GVP-0880...,The central part of the Chaîne des Puys volcan...,Photo by Ichio Moriya (Kanazawa University).,Basalt / Picro-Basalt,POINT (45.775 2.97)
2,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,210030,Olot Volcanic Field,Volcanic field,NaN,Spain,The Olot volcanic field (also known as the Gar...,Mediterranean and Western Asia,Western Europe,42.170,2.530,893,Intraplate / Continental crust (> 25 km),Holocene,Evidence Credible,https://volcano.si.edu/gallery/photos/GVP-1199...,The forested Volcà Montolivet scoria cone rise...,Photo by Puigalder (Wikimedia Commons).,Trachybasalt / Tephrite Basanite,POINT (42.17 2.53)
3,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,210040,Calatrava Volcanic Field,Volcanic field,-3600.0,Spain,The Calatrava volcanic field lies in central S...,Mediterranean and Western Asia,Western Europe,38.870,-4.020,1117,Intraplate / Continental crust (> 25 km),Holocene,Eruption Dated,https://volcano.si.edu/gallery/photos/GVP-1185...,"Columba volcano, the youngest known vent of th...","Photo by Rafael Becerra Ramírez, 2006 (Univers...",Basalt / Picro-Basalt,POINT (38.87 -4.02)
4,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211004,Colli Albani,Caldera,NaN,Italy,The Colli Albani (Alban Hills) complex immedia...,Mediterranean and Western Asia,Italy,41.730,12.700,949,Subduction zone / Continental crust (> 25 km),Holocene,Evidence Uncertain,https://volcano.si.edu/gallery/photos/GVP-0881...,The lake-filled Albano maar is part of the Alb...,Photo by Ichio Moriya (Kanazawa University).,Foidite,POINT (41.73 12.7)
5,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211010,Campi Flegrei,Caldera,1538.0,Italy,Campi Flegrei is a 13-km-wide caldera that enc...,Mediterranean and Western Asia,Italy,40.827,14.139,458,Subduction zone / Continental crust (> 25 km),Holocene,Eruption Observed,https://volcano.si.edu/gallery/photos/GVP-0151...,A Landsat satellite image shows the Campi Fleg...,"NASA Landsat image, 1984.",Trachyte / Trachydacite,POINT (40.827 14.139)
6,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211020,Vesuvius,Stratovolcano,1944.0,Italy,"One of the world's most noted volcanoes, Vesuv...",Mediterranean and Western Asia,Italy,40.821,14.426,1281,Subduction zone / Continental crust (> 25 km),Holocene,Eruption Observed,https://volcano.si.edu/gallery/photos/GVP-0153...,Mount Vesuvius behind city of Naples. The mode...,"Photo by Dan Dzurisin, 1983 (U.S. Geological S...",Phono-tephrite / Tephri-phonolite,POINT (40.821 14.426)
7,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211031,Palinuro,Submarine,-8040.0,Italy,Palinuro seamount in the Tyrrhenian Sea north ...,Mediterranean and Western Asia,Italy,39.480,14.830,-70,Subduction zone / Continental crust (> 25 km),Holocene,Eruption Dated,NaN,NaN,NaN,Phonolite,POINT (39.48 14.83)
8,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211030,Ischia,Complex,1302.0,Italy,The Ischia volcanic complex forms a rectangula...,Mediterranean and Western Asia,Italy,40.730,13.897,789,Subduction zone / Continental crust (> 25 km),Holocene,Eruption Observed,https://volcano.si.edu/gallery/photos/GVP-1047...,The Ischia volcanic complex forms a 6 x 9 km i...,NASA International Space Station image ISS002-...,Trachyte / Trachydacite,POINT (40.73 13.897)
9,Smithsonian_VOTW_Holocene_Volcanoes.fid--d9082...,211041,Panarea,Stratovolcano,NaN,Italy,The mostly submerged Panarea volcanic complex ...,Mediterranean and Western Asia,Italy,38.638,15.064,399,Subduction zone / Continental crust (> 25 km),Holocene,Evidence Uncertain,https://volcano.si.edu/gallery/photos/GVP-1039...,Panarea Island is the largest subaerial compon...,Photo courtesy of Istituto Nazionale di Geofis...,Andesite / Basaltic Andesite,POINT (38.638 15.064)